/*NEWSLETTER*/
.newsletter-form {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px; }

.newsletter-form input.text {
  width: 100%;
  margin-bottom: 18px; }

.newsletter-form .form-check.form-check-inline {
  margin-bottom: 18px; }

.form-check .form-check-input {
  float: none;
  margin-left: -1.5em;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle; }

.form-check-input {
  border: 1px solid #009de0; }

.form-check-input:checked {
  background-color: #009de0;
  border-color: #009de0; }

.form-check-input:focus {
  box-shadow: none; }

.form-check.form-check-inline .form-check-label {
  display: inline-block;
  vertical-align: middle; }
