//---------------------------------------------
//
//  Variables
//
//    1. Brand colors
//
//---------------------------------------------

//---------------------------------------------
// 1. Brand colors
//---------------------------------------------

$body-color: #000000; // The default text color

$primary:    #0d6efd;
$secondary:  #6c757d;
$success:    #198754;
$info:       #0dcaf0;
$warning:    #ffc107;
$danger:     #dc3545;
$light:      #f8f9fa;
$dark:       #212529;

$font:'Roboto',Arial,sans-serif;

$fontcolor: #516771;
$bodytext18: 1.125rem;
$spacing:.05rem;

$brandcolor: #ff2d21;


$linkitemlinie:#AFAFAF;

$navlink: #1c3c4a;

$bg-brandcolor_90:rgba(255,45,33,.9);
$bg-brandcolor_80:rgba(255,45,33,.8);

$bg-white_90:rgba(255,255,255,.9);
$bg-white_80:rgba(255,255,255,.8);

$menuehover:#EBEBEB;
